/* SITE HEADER */

.c-site-header {
	height: 75px;
	margin-top: em(15);
	margin-bottom: em(30);
	overflow: hidden;
	.u-wrap {
		height: 100%;
	}

	@include media( $size-small ) {
		margin-top: em(30);
		height: 110px;
	}	
}

.c-site-header__logo {
	float: left;
}

.c-site-header__logo img {
	width: 75px;
	height: auto;
	@include media( $size-small ) {
		width: 110px;
	}	
}



.c-site-header__subnav {
	float: right;
	height: 100%;
	li {
		margin-left: em(3);
		&:first-of-type {
			margin-left: 0;
		}
	}
}


/* Tab Nav */
.c-tab-nav {
	clear: both;
	margin-top: em(10);
	margin-bottom: em(5);
}

.c-tab-nav__item {
	padding: 0;
	padding-bottom: em(3);
	margin-right: em(25);
	margin-bottom: em(10);
	background-color: transparent;
	border: 0;
	text-transform: uppercase;
	font-family: $font-secondary;
	font-weight: 100;
	font-size: em(20);
	color: #BDBDBD;
	border-bottom: 3px groove RGBA(#BDBDBD,0.5);
	transition: color 0.2s , border-bottom 0.4s;
	&:last-of-type {
		margin-right: 0;
	}
	&:focus {
		outline: none;
	}


	&.is-active,
	&:hover {
		color: $color-font;
		background-color: transparent;
		border-bottom: 3px solid $color-secondary;
	}
}

.c-tab-block {
	display: none;
	&.is-active {display: block;}
}



/* BUTTONS */
.c-button-link {
	background-color: #FCB348;
	border-color: #FCB348;
	&:hover {
		background-color: RGBA(#FCB348, 0.85);
	}
}




/* SITE FOOTER */
.c-footer { 
	padding-top: em(22);
	color: #FFFFFF;
	background: $color-primary;
	background-image: linear-gradient( 0deg ,  #28AEC0 , #8ACAB1 );

	@include media( $size-small ) {
		background-image: linear-gradient( 90deg ,  #28AEC0 , #8ACAB1 );
	}

	.c-footer__title {
		font-family: $font-primary;
		font-size: em(16);
		font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		margin-bottom: em(15);
		span {
			text-transform: none;
		}
	}

	a {
		color: #FFFFFF;
	}

	ul {
		padding: 0;
	}

}

.c-footer__title svg {
	display: inline-block;
	vertical-align: top;
	max-height: em(18);
	max-width: em(30);
	width: auto;
	margin-left: em(10);
}

.c-footer__block {
	box-sizing: border-box;

	@include media( em(410) ) {
		float: left;
		width: 50%;
		padding-right: em(20);
		&:nth-child(4n+3) {
			clear: left;
		}		
	}

	@include media( em(800) ) {
		width: 25%;
		&:nth-child(4n+3) {
			clear: none;
		}
	}

}


.c-footer__block--socials {
	text-align: center;

	svg {
		max-width: 100px;
		height: auto;
	}
	svg * {fill:#FFFFFF;}

	.u-list-social {
		margin-top: em(20);
		li {
			margin-right: em(5);
		}
	}
}

.c-footer__block--no-title {
	margin-top: em(60);
}
