$browser-context: 16; // Default


/* Pixels to ems */
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/* Pixels to ems */
@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}


/* Media mixin */
@mixin media( $minWidth ) {


	@media (min-width: $minWidth) {
		@content;
	}


}

/* Absolute position element to cover whole parent */
@mixin coverposition($val : 0) {
	position: absolute;
	top: $val;
	right: $val;
	bottom: $val;
	left: $val;
}

/* COnvert hex to rgba */
@function RGBA( $color , $alpha: 0.3 ) {
	$r : red($color);
	$g : green($color);
	$b : blue($color);
	@return rgba($r,$g,$b,$alpha);
}