/* Content */
.o-content {
	margin-bottom: em(80);
}


.o-content__header {
	h1 {margin: 0;}
	padding-bottom: em(10);
	margin-bottom: em(30);
	border-bottom: 1px solid $color-secondary;
}


.o-content-block {
	font-size: em(14);
}




/* ICON LIST */
.o-icon-list {
	text-align: left;
	font-size: rem(13);
	list-style-type: none;
}

.o-list-item {
	padding: 5px 3px 5px 25px;
	margin-bottom: 0.2em;
	background-repeat: no-repeat;
	background-position: 0px 6px;
	background-size: 16px;
	font-weight: 100;
	p {margin: 0;}
}


/* THUMBLIST */
.o-thumblist {
	position: relative;
	list-style-type: none;
	margin: em(30) em(-5);
	padding: 0;
	li {
		float: left;
		box-sizing: border-box;
		width: 33.333%;
		cursor: pointer;
	}

	.slick-list {
		overflow: hidden;
	}

	.slick-slide {
		padding: 0 em(5);
		&:focus {
			outline: none;
		}
	}

	.slick-arrow {
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		display: block;
		width: 25px;
		height: 25px;
		margin-top: -10px;
		padding: 0;
		border: 0;
		z-index: 10;
		border-radius: 50%;
		overflow: hidden;
		text-indent: 200%;
		&:after {
			position: absolute;
			top: 7px;
			content: "";
			display: block;
			width: 9px;
			height: 9px;
			border: 2px solid #FFFFFF;
			z-index: 11;
		}

		&:focus {
			outline: none;
		}
	}

	.slick-prev {
		left: -10px;
		&:after {
			left: 9px;
			transform: rotate(45deg);
			border-width: 0 0 2px 2px;
		}

		@include media( $size-small ) {
			left: -25px;
		}
	}

	.slick-next {
		right: -11px;
		&:after {
			right: 9px;
			transform: rotate(-45deg);
			border-width: 0 2px 2px 0;
		}
		@include media( $size-small ) {
			right: -27px;
		}				
	}
}



/* TILES */
.o-tiles {

	li {
		box-sizing: border-box;
		width: 25%;
		padding: 0 3px 3px 0;
		margin: 0;
		overflow: hidden;
		div {overflow: hidden;}
	}

	img {
		transform: scale(1);
		transition: transform 0.4s ease-in-out;
		&:hover {
			transform: scale(1.2);
		}
	}
}



/* ACTION BLOCK */
.o-action-block {
	margin: em(20);
	text-align: center;
	@include media( $size-small ) {
		margin: em(50);
	}
}

.o-action-block__header {
	text-transform: uppercase;
	font-size: em(27);
	font-weight: 100;
	font-family: $font-secondary;
	margin-bottom: em(10);
}

.o-action-block__footer {
	margin-top: em(20);
	font-family: $font-secondary;
	text-transform: uppercase;

	.u-social {
		margin-left: 10px;
		&:first-of-type {
			margin-right: 0;
		}
	}

	.u-social svg {
		width: 30px;
		height: 30px;
	}
}



/* FORMS */
.o-form {
	input,
	button { 
		width: 100%;
	}

	input {
		color: $color-font;
		font-weight: 100;
	}
}


.o-form--small {
	label {
		display: none;
	}
}

@include media(em(410)) {
	.o-form--small {
		max-width: 200px;
	}
}
