/* Font faces */
$font-primary : 'Open Sans', sans-serif;
$font-secondary : 'Fjalla One', Arial, sans-serif;

/* Colours */
$color-font: #595959;
$color-primary: #014D6E;
$color-secondary: #6CCB9C;

/* Sizes */
$size-small : #{em(750)};