.u-wrap {
	width: 90%;
	max-width: 1100px;
	margin: auto;
	&:after {
		content: "";
		display: block;
		clear: both;
	}

	@include media($size-small) {
		width: 80%;
	}
}


.u-swisbest {
	display: inline-block;
	font-size: 1.2em;
	color: transparent;
	background: url('../img/content/swisbest.png') no-repeat center;
	background-size: contain;
}

.u-list-vertical {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
		margin-bottom: em(5);
	}
}

.u-list-social {

}


.u-larger {
	font-size: 1.5em;
}


.u-cart {
	width: 100%;
	padding-left: em(60);
	background-image: url('../img/svg/cart.svg');
	background-position: 25px center;
	background-repeat: no-repeat;
	background-size: 20px;

	@include media( $size-small ) {
		background-position: 25% center;
	}
}

/* socials */
.u-social {
	display: block;
	border-radius: 50%;
	transform: scale(1);
	box-shadow: 0 0 0 transparent;
	transition: transform 0.3s ease-in-out , box-shadow 0.3s ease-in-out;
	&:hover {
		box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
		transform: scale(1.2);
	}
	svg {
		width: em(33);
		height: auto;
		vertical-align: middle;
	}
}

.u-social--fb {
	svg * {
		fill: #3C5F91;
	}
}

.u-social--insta {
	svg * {
		fill: #55809F;
	}
}

.u-social--twitter {
	svg * {
		fill: #4CA0F3;
	}
}

.u-social--linked {
	svg * {
		fill: #297CAC;
	}
}

.u-social--pinterest {
	svg * {
		fill: #AD1F2B;
	}
}

.u-social--gplus {
	svg * {
		fill: #CF4940;
	}
}




/* ICONS */
/* Icon */
.u-icon--location {
	background-image: url('../img/svg/location.svg');
}

.u-icon--phone {
	background-image: url('../img/svg/phone-call.svg');
}

.u-icon--mail {
	background-image: url('../img/svg/email.svg');
}

.u-icon--link {
	background-image: url('../img/svg/link.svg');
}

.u-icon--date {
	background-image: url('../img/date.png');
}

.u-icon--bookmark {
	background-image: url('../img/svg/bookmark.svg');
}




/* u-sizes */
.u-1_2,
.u-1_4 {
	float: left;
	box-sizing: border-box;
	width: 100%;
}

.u-1_2.u-size-gap:nth-of-type(2n+1) {
	padding-right: em(15);
}

.u-1_2.u-size-gap:nth-of-type(2n+2) {
	padding-left: em(15);
}


@include media( $size-small ) {
	.u-1_2 {width: 50%;}
	.u-1_4 {width: 25%;}
}