@import "reset";
@import "mixins";
@import "settings";

body {
	font-family: $font-primary;
	color: $color-font;
}

a {
	text-decoration: none;
	color: $color-secondary;
}

button {
	background-color: $color-secondary;
	border: 3px solid $color-secondary;
	text-transform: uppercase;
	padding: em(10) em(35) em(8);
	font-size: 0.9em;
	font-family: $font-primary;
	font-weight: 400;
	color: #FFF;
	transition: background-color 0.3s;
	&:hover {
		background-color: RGBA($color-secondary, 0.6);
	}
}

h1,h2,h3,h4 {
	font-family: $font-secondary;
	font-weight: 100;
	text-transform: uppercase;
	color: $color-primary;
}

h1 {
	font-size: em(45);
}

h2 {

}

h3 {
	
}

h4 {
	
}

img,iframe,video {
	max-width: 100%;
	height: auto;
}
img,svg {
	-ms-interpolation-mode: bicubic;
	shape-rendering: auto;
	image-rendering: optimizeQuality;
}

svg * {
	-ms-interpolation-mode: bicubic;
	shape-rendering: auto;
	image-rendering: optimizeQuality;
}

input {
	box-sizing: border-box;
	border: 1px solid transparent;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: rgba(255,255,255,1);
	border-radius: 0;
	&:focus {
		outline: none;
		border-color: $color-secondary;
	}
}

.debug {
	background-color: rgba(0,200,0,0.3) !important;
}

@import "utilities";


@import "components";


@import "objects";

@import "progressive";

@import "prettyPhoto";